@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(218, 23%, 16%);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#advice-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 550px;
  height: 330px;
  background-color: hsl(217, 19%, 24%);
  padding: 48px;
  border-radius: 16px;
  position: relative;
}

#advice-card h1 {
  color: hsl(150, 100%, 66%);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: calc(.27 * 14px);
}

#advice-card p {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

#advice-card button {
  all: unset;
  position: absolute;
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  bottom: -32px;
  cursor: pointer;
}

#advice-card button:hover {
  box-shadow: 0px 0px 60px hsl(150, 100%, 66%);
  ;
}



@media (max-width: 580px) {
  #advice-card {
    width: 330px;
    padding: 24px;
    gap: 24px;
  }

  #advice-card p {
    font-size: 24px;
  }
}


/* 
.line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: hsl(217, 19%, 38%);
} */

/* 
.line span {
  display: flex;
  width: 52px;
  height: 52px;
  font-size: 52px;
  justify-content: center;
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);

  position: absolute;
  right: calc(50% - 26px);
  top: -24px;
} */